<div style="position: absolute; top: 10px; right: 10px;">
    <button class="w3-button w3-round w3-white w3-border w3-small" style="position: absolute; right: 0;" ng-click="listMenuShow = !listMenuShow">{{listMenuShow? 'Tutup Menu': 'Menu'}}</button>
    <div style="position: absolute; right: 0; top: 40px; width: 300px;" ng-init="listMenuShow = false" ng-show="listMenuShow">
        <div ng-repeat="footer in $ctrl.footers">
            <button class="w3-button w3-block w3-round w3-white w3-border w3-small" ng-click="footerShow(footer.componentName)">Lihat {{footer.title}}</button>
        </div>
    </div>
</div>