<div ng-repeat="footer in $ctrl.footers | filter: { componentName: 'footer-min-max-tables' }" ng-show="footer.show">
    <button class="w3-button w3-round w3-white w3-border w3-small" style="position: absolute; left: 10px;" ng-style="{ bottom: 'calc({{footerMinMaxTablesStyle.height}} + 10px)', zIndex: footerMinMaxTablesStyle.zIndex }"
        ng-click="footer.show = false">Sembunyikan {{footer.title}}</button>
    <div style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: aqua;" ng-style="footerMinMaxTablesStyle">
        {{footer.title}} terbuka
    </div>
</div>